/* General layout */
@font-face {
	font-family: 'Gravur';
	src: url('./fonts/GravurCondensed-Bold.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gravurl';
	src: url('./fonts/GravurCondensed-Light.otf');
	font-weight: normal;
	font-style: normal;
}

html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Gravur', sans-serif;
	background-color: #FFF;
	color: #2e3131;
	line-height: 2em;
	letter-spacing: 0.05em;
}

a:link,
a:visited {
	text-decoration: none;
}

* {
	margin: 0;
}

p {
	line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0 0;
	font-weight: normal;
	padding: 0;
	color: #2e3131;
	font-family: 'Gravur', sans-serif;
}

h3 {
font-size: 150%;
}

div.container {
	width: 100%;
	margin: none auto;
	li {
	font-family: 'Gravurl', sans-serif;
	line-height: 1.8em;
	margin-bottom: 7px;
	font-size: 110%;
	}
}

.alignright {
  float: right;
  padding-left: 10px;
}