/* General layout */

@font-face {
	font-family: 'option';
	src: url('./Fonts/OPTIOnyx.otf');
	font-weight: normal;
	font-style: normal;
}

html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #FFF;
	color: #234a41;
	line-height: 2em;
	letter-spacing: 0.05em;
}

a:link,
a:visited {
	color: #151515;
	text-decoration: none;
}

a:hover {
	color:  #006a8c;
	text-decoration: none;	
}

* {
	margin: 0;
}

p {
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0 0;
	font-weight: normal;
	padding: 0;
}
h3 {
font-size: 150%;
}

div.container {
	width: 100%;
	margin: none auto;
}
