@media screen and (max-width: 1250px) {
//////////////////////////////////////

.nav-contact {
	font-size: 100%;
}
.site-nav ul {
	font-size: 100%;
}

}

@media screen and (max-width: 1150px) {
//////////////////////////////////////

	.nav-contact {
		font-size: 90%;
	}
	.site-nav ul, .site-nav ul li ul {
		font-size: 14px; // Zelfde als 90%, anders wordt het steeds kleiner in elke niveau van de menu
	}
	
	.site-nav ul li {
	margin: 5px 15px;
	}

	h1.title {
		color: #fff;
		font-size: 54px;
	}

	h2.title {
    font-size: 29px;
    margin-top: 5px;
	}
}



@media screen and (max-width: 950px) {
//////////////////////////////////////
	.site-header {
    position: fixed;
	background-color: white;
	}
	
	.nav-contact {
		display: none;
	}
	.site-nav ul {
		display: none;
	}
	
	.search-box {
	display: block;
	}
	
	#mobile-menu-open {
				display: flex;
				flex-wrap: wrap;
				order: 8;
				margin: auto 30px auto 20px;
				height: 45px;
				width: 45px;
				padding: 10px 0px;
				align-content: center;
				color: #31a9b8;
				i {
					margin: auto;
					font-size: 30px!important;
				}
				p {
				font-size: 9px;
				width: 100%;
				text-align: center;
				margin: auto;
				}
			}
			
    
	
	h1.title {
		font-size: 50px;
	}

	h2.title {
		font-size: 28px;
	}

	.flexbox {
		&-dienst {
		width: 100px;
		height: 100%;
		img {
			height: 50px;
		}
		h3 {
		font-size: 130%;
		}
		}
	}
	
	.inleiding {
	h1 {
    font-size: 230%;
	}
	p {
	font-size: 90%;
	}
	}
	
	#video-background {
    margin-top: 15px;
}
	
	// kruimelpad
	.container-diensten #breadcrumbtrail {
		display: none;
	}
}
	
@media screen and (max-width: 750px) {
//////////////////////////////////////

	.hd-search #s {
    width: 80%!important;
	}
	
	.search-box {
    margin-left: 230px;
	}
	
	#hometitles {
    top: 93%;
	}
	
	h1.title {
		font-size: 40px;
	}

	h2.title {
		font-size: 24px;
	}
	
	#aanbod {
		width: 100%;
	}
	
}

@media screen and (max-width: 530px) {
//////////////////////////////////////

	#video-background {
		height: calc(100vh - 400px);
		}
		
	h1.title {
		font-size: 35px;
	}

	h2.title {
		font-size: 22px;
	}
	#hometitles {
    top: 90%;
	width: 80%;
	}

	#aanbod {
		width: 20%;
	}
	
	.flexbox-dienst img {
    height: 80px;
    width: auto;
	}

}