@media screen and (max-width: 1250px) {
//////////////////////////////////////

.nav-contact {
	font-size: 100%;
}
.site-nav ul {
	font-size: 100%;
}

}

@media screen and (max-width: 1150px) {
//////////////////////////////////////

	.nav-contact {
		font-size: 90%;
	}
	.site-nav ul, .site-nav ul li ul {
		font-size: 14px; // Zelfde als 90%, anders wordt het steeds kleiner in elke niveau van de menu
	}
	
	.site-nav ul li {
	margin: 5px 15px;
	}

	h1.title {
		color: #fff;
		font-size: 54px;
	}

	h2.title {
    font-size: 29px;
    margin-top: 5px;
	}
}



@media screen and (max-width: 950px) {
//////////////////////////////////////
	.site-header {
    position: fixed;
	background-color: white;
	}
	.nav-contact {
		display: none;
	}
	.site-nav {
		display: none;
		width: 100%;
		overflow: scroll;
		ul {
			width: 100%;
			background: white;
			padding:20px 0 0 0;
			border-bottom: 2px solid black;
			top: 0;
			left: 0;
			transform: none;
			li { // Eerste niveau mobiel menu
				display: block;
				width: 100%;
				text-align: center;
				position: static;
				margin: auto;
				i { // Down arrows op mobiel menu
					position: relative;
					bottom: 3px;
					left: 5px;
				}
			/*	&:hover > ul { // Tweede niveau on hover
					display: block;
					position: static;
					padding: 0;
				}
			*/
				a:link, a:visited, a:hover { // Alle niveaus
					color: black;
					visibility: visible;
				}
				ul { // Tweede niveau basis
					border: none;
					background: white;
					// position: static;
					padding: 0;
					a::before { // Tweede niveau (& hoger) link text
						content: '- '
					}
					
					/*li:hover > ul { // Derde niveau on hover
						display: block;
						position: static;
						padding: 0;
					}
					*/
					li:hover {
						background: rgba(0,0,0,0.05);
					}
					ul { // Derde niveau basis
						padding: 0;
						background: white;
						
					}
				}
				
			}
		}
	}
	
	nav.site-nav ul li a:hover {
		color: black;
	}
	
	// Show contact link in menu
	#menu-item-354 {
		display: block;
	}
	
	.search-box {
	display: inline-block;
	}
	
	#mobile-menu-open {
				display: flex;
				flex-wrap: wrap;
				order: 8;
				margin: auto 0 auto auto;
				height: 45px;
				width: 45px;
				padding: 10px 0px;
				align-content: center;
				color: #31a9b8;
				i {
					margin: auto;
					font-size: 30px!important;
				}
				p {
				font-size: 10px;
				width: 100%;
				text-align: center;
				margin: auto;
				}
			}
			
    
	
	h1.title {
		font-size: 50px;
	}

	h2.title {
		font-size: 28px;
	}

	.flexbox {
		&-dienst {
		width: 100px;
		height: 100%;
		img {
			height: 50px;
		}
		h3 {
		font-size: 130%;
		}
		}
	}
	
	.inleiding {
	h1 {
    font-size: 230%;
	}
	p {
	font-size: 90%;
	}
	}
	
	
	// kruimelpad
	.container-diensten #breadcrumbtrail {
		display: none;
	}
	
	// Homepage
	
	.aanpak {
		padding: 40px 0px;
		width: 100%;
		.flexbox {
			width: calc(100% - 40px);
		}
		.flexbox-aanpak {
			width: 100%;
			margin-bottom: 20px;
			a {
				white-space: nowrap;
			}
		}
		.flexbox-beeld {
			width: 100%;
		}
	}
	
	// Diensten page
	
	#diensten { 
	 padding: 40px 0px;
	 width: 100%;
	 &-inleiding {
		width: calc(100% - 40px);
		margin: auto;
	 }
	}
		
		// Diensten subpages (top level)
		.container-diensten {
			padding: 40px 0px;
			width: calc(100% - 40px);
			.icoon-diensten, .inleiding-diensten, .sidebar {
				width: 100%;
				margin: auto;
			}
			.producten {
				margin-bottom: 15px;
			}
		} // End top level subpages
	
	// Overpoolconsult & aanpak page 
	.inleiding-subpage {
		width: calc(100% - 40px);
	}

	// Contact page
	.inleiding-contact p, .contact-gegevens {
		width: calc(100% - 40px);
		margin: auto;
	}
	
	.contactform {
		max-width: calc(100% - 40px);
		margin: auto;
	}
	
	
	.contact-inleiding {
		width: calc(100% - 40px);
	}
	
	.page-id-13 textarea, .page-id-5 textarea, .page-id-13 input, .page-id-5 input {
		width: 100%;
		box-sizing: border-box;
	}
}
	
@media screen and (max-width: 750px) {
//////////////////////////////////////

	
	#hometitles {
    top: 93%;
	}
	
	h1.title {
		font-size: 40px;
	}

	h2.title {
		font-size: 24px;
	}
	
	#aanbod {
		width: 100%;
	}
	
}

@media screen and (max-width: 530px) {
//////////////////////////////////////

	
	.search-box {
		display: block;
		width: 90%;
		order: 99;
	}
	
	.hd-search #s {
		width: 90%;
	}

	#video-background {
		height: calc(100vh - 400px);
		}
		
	h1.title {
		font-size: 35px;
	}

	h2.title {
		font-size: 22px;
	}
	#hometitles {
    top: 90%;
	width: 80%;
	}

	#aanbod {
		width: calc(100% - 20px);
		max-width: 196px;
		a {
			margin: auto;
		}
	}
	
	.flexbox {
		width: 100%;
	}
	
	.flexbox-dienst img {
    height: 80px;
    width: auto;
	}
		
	// Footer
	.footer {
		width: calc(100% - 40px);
	}
}